* {
    margin: 0;
    padding: 0;

}

/* ESTILOS GENERALES */
body {
    background-color: #d8d5d5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.gridIndex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    grid-template-areas:
        "nosotrosSomos nosotrosSomos nosotrosSomos";
}


/* ESTILOS NAV BAR - HEADER */

.fondoHeader,
.fondoNav {
    background-color: #414040 !important;
}

.navDesk {
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    padding: 40px 22px;
    text-transform: uppercase;
    line-height: 22px;
}

.nav-item a {
    text-decoration: none;
    color: #1ABC9C;

}

.nav-item a:hover {
    color: #16066d;
}



/* ESTILOS MAIN - HEADLINE - NOSOTROS */


.nosotros {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.cire {
    color: #1ABC9C;
}

.textoSomos {
    text-align: center;
    color: #414040;
    font-size: 20px;
    margin-left: 69px;
    margin-right: 87px;
    font-weight: 600;
}


.nosotrosSomos {
    display: flex;
    margin: 10px 150px 0px 150px;
    margin-bottom: 86px;
    max-width: 100vw;
    justify-content: space-around;


}


.nosotrosSomos h3 {
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;

}

.nosotrosSomos span {
    text-align: center;
    color: #1ABC9C;
    font-size: 18px;
    font-weight: 500;

}

.nosotrosSomos p {
    text-align: center;
    color: #464545;
    margin: 0px 46px 0px 46px;
}

.cajaNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    line-height: 1.5;
    width: 65%;

}

.imgSize {
    width: 400px;
    border-radius: 5px;
}

/* ESTILOS SERVICIOS */

.checkBoxs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    grid-template-areas:
        "headline headline headline headline"
        "priemerosTres priemerosTres priemerosTres priemerosTres"
        "segundosTres segundosTres segundosTres segundosTres"
        "terceroUno terceroUno terceroUno terceroUno";
}

.headline {
    grid-area: headline;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5;
    padding-bottom: 10px;
    
}

.servicios {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.copyServ {
    text-align: center;
    color: #414040;
    font-size: 20px;
    font-weight: 600;
}

.check1 {
    width: 90px;
    height: 90px;
}

/* ESTILOS PRIMERA FILA y SEGUNDA FILA */
.priemerosTres {
    grid-area: priemerosTres;
    display: flex;
    margin: 10px 150px 0px 150px;
}


.serviciosTipos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    line-height: 1.5;
    width: 65%;
}

.serviciosTipos:hover img {
    width: 85px;
    height: 85px;
    border-radius: 40px;
    transform: scale(1.2);
    transition: 0.4s;

}

.serviciosTipos:hover {
    transform: scale(1.2);
}

.serviciosTipos h3 {
    color: #050505;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.serviciosTipos p {
    text-align: center;
    color: #6d6d6d;
}

.segundosTres {
    grid-area: segundosTres;
    display: flex;
    margin: 10px 150px 0px 150px;
}

/* ESTILOS TERCERA FILA */

.terceroUno {
    grid-area: terceroUno;
    display: flex;
    margin-bottom: 87px;
    margin-left: 646px;
    width: 33%;
    justify-content: center;
    flex-wrap: wrap;
}

/* ESTILOS CAPACITACION */

.capacitacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    line-height: 1.5;
    text-align: center;
}

.capacitacion h3 {
    text-transform: uppercase;
    margin-top: 10px;
    color: #050505;
    text-align: center;
}

.capacitacion p {
    padding: 0px 80px;
    color: #6d6d6d;
}

.capacitacion:hover img {
    width: 85px;
    height: 85px;
    border-radius: 40px;
    border-radius: 40px;
    transform: scale(1.2);
    transition: 0.4s;

}

.capacitacion:hover {
    transform: scale(1.2);
}

/* ESTILOS PROYECTOS */
.proyectos {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.copyProye {
    text-align: center;
    color: #414040;
    font-size: 20px;
    font-weight: 600;
}

.destacados {
    text-decoration: underline;
    color: #1ABC9C;
}

.cards {
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #d8d5d5;

}

.cards h5 {
    color: #1ABC9C;
    font-weight: 500;
}

.cards p {
    color: #111f90;
}

.colorCards {
    background-color: #4242423d;
    border: #050505 2px solid;
}

.tamañoCard {
    width: 400px;
}

.col {
    margin-bottom: 2vh;

}

.col:hover {
    transform: scale(1.1);
    transition: .5s;
}

/* ESTILOS CLIENTES */

.nuestro {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.trabajo {
    text-align: center;
    color: #414040;
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 150px 10px 150px;
    padding: 0px 192px 0px 68px;
}

.etapa1 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;

}


.etapa1 span {
    margin: 30px;
    color: #1ABC9C;
    line-height: 1.5;
    font-weight: 500;


}

.etapa1 span:hover {
    transform: scale(1.2);
    transition: 1s;
    color: #3b08f5;
}


.etapa2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}

.etapa2 span {
    margin: 30px;
    color: #1ABC9C;
    line-height: 1.5;
    font-weight: 500;
}

.etapa2 span:hover {
    transform: scale(1.2);
    transition: 1s;
    color: #3b08f5;
}


.etapa3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
}

.etapa3 span {
    margin: 30px;
    color: #1ABC9C;
    line-height: 1.5;
    font-weight: 500;
}

.etapa3 span:hover {
    transform: scale(1.2);
    transition: 1s;
    color: #3b08f5;
}

/* ESTILOS BUSQUEDAS ACTUALES */

.busquedas {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.oportunidades {
    text-align: center;
    color: #414040;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

.icons {
    width: 150px;
    height: 150px;
}


.iconsPadre {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.seguinos {
    margin-top: 177px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 178px;

}

.iconsPadre h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;

}


/* ESTILOS CONTACTO */

.contactanos {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.dudas {
    text-align: center;
    color: #414040;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-weight: 600;
}

form {
    margin: 9%;
}

.textoForm {
    color: #1ABC9C;
}


.textoBoton {
    color: #1ABC9C;
    background-color: #414040;
}

.textoBoton:hover {
    background-color: #16066d;
}


/* ESTILOS FOOTER */

.caja {

    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #414040;

}

.cajaUno {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.social {
    padding: 40px 22px;
    color: #1ABC9C;
}

.social:hover {
    color: white;
}

.copyright {
    font-weight: bold;
    color: #1ABC9C;
    margin: 0px 25px;
}

.creado {
    font-weight: bold;
    color: #1ABC9C;
}

/* RESPONSIVE DESIGN */

@media (max-width: 480px) {

    /* ESTILOS HEADER */
    .nav-style {
        flex-direction: column;

    }

    .nav-style ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    nav ul li {
        list-style: none;
        display: inline;
        font-size: 20px;
        font-weight: bold;
        padding: 25px 15px;
        text-transform: uppercase;
        line-height: 22px;
    }

    /* ESTILOS HEADLINE */
    .nosotrosSomos {
        flex-wrap: wrap;
        margin: 0;


    }

    .cajaNosotros {
        width: 100%;
    }

    .imgSize {
        width: 310px;
    }

    .nosotrosSomos h3 {
        text-transform: uppercase;
        padding-top: 10px;
        text-align: center;
        font-size: 24px;


    }

    .nosotrosSomos span {
        text-align: center;
        color: #1ABC9C;
        font-size: 20px;
        font-weight: 500;

    }

    .nosotrosSomos p {
        text-align: center;
        color: #464545;
        font-size: 18px;
        margin: 0px 10px 0px 10px;
    }

    .textoSomos {
        text-align: center;
        color: #414040;
        font-size: 20px;
        margin-left: 40px;
        margin-right: 40px;


    }

    /* ESTILOS SERVICIOS */

    .servicios {
        margin-top: 30px;
        font-size: 30px;
        text-transform: uppercase;
    }

    .copyServ {
        text-align: center;
        color: #414040;
        font-size: 20px;
        margin: 0px 44px 0px 44px;
    }


    .priemerosTres {
        flex-direction: column;
        margin: 0px 30px 0px 0px;
    }


    .segundosTres {
        flex-direction: column;
        margin: 0px 30px 0px 0px;
    }

    .serviciosTipos {
        width: 86%;
    }

    .serviciosTipos h3 {
        font-size: 22px;
    }

    .serviciosTipos p {
        font-size: 18px;
    }

    .terceroUno {
        margin: 0;
        width: 97%;
    }

    .capacitacion {
        width: 80%;
    }

    .capacitacion h3 {
        font-size: 22px;
    }

    .capacitacion p {
        text-align: center;
        padding: 0px 25px;
        font-size: 18px;
    }

    /* ESTILOS PROYECTOS */

    .copyProye {
        margin: 0px 20px 0px 18px;
    }

    .tamañoCard {
        width: 376px;
    }
    


    /* ESTILOS CLIENTES */

    .clientes {

        margin: 0;
        padding: 0;
    }

    .etapa1 {
        font-size: 18px;
        text-align: center;
        margin: auto;
    }


    .etapa2 {
        font-size: 18px;
        text-align: center;
        margin: auto;
    }


    .etapa3 {
        font-size: 18px;
        text-align: center;
        margin: auto;
    }



    /* ESTILOS BUSQUEDAS ACTUALES */

    .oportunidades {
        text-align: center;
        color: #414040;
        font-size: 20px;
        line-height: 2;
        padding: 0px 61px 0 61px;
    }

    .seguinos {
        margin-top: 42px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 50px;
    }

    .iconsPadre {
        margin-bottom: 50px;
    }

    /* ESTILOS CONTACTO */

    .dudas {

        padding-left: 26px;
        padding-right: 30px;
        padding-bottom: 0px;
    }

    .form {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 18px;
    }


    /* ESTILOS FOOTER */
    .copyright {
        font-weight: bold;
        color: #1ABC9C;
        margin: 0px 92px;
        text-align: center;
        padding-top: 19px;
    }

    .creado {
        font-weight: bold;
        color: #1ABC9C;
        padding-top: 16px;
    }

    .caja {
        display: flex;
        flex-direction: column;
        height: 413px;
        padding-top: 5px;
    }

    .cajaUno {
        display: flex;
        flex-direction: row;
    }
}

