main {
  .checkBoxs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-flow: row;
    grid-template-areas: "headline headline headline headline""priemerosTres priemerosTres priemerosTres priemerosTres""segundosTres segundosTres segundosTres segundosTres""terceroUno terceroUno terceroUno terceroUno";
  }

  .headline {
    grid-area: headline;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5;
    padding-bottom: 10px;
  }

  .servicios {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }

  .copyServ {
    text-align: center;
    color: #414040;
    font-size: 20px;
    font-weight: 600;
  }

  .check1 {
    width: 90px;
    height: 90px;
  }

  .priemerosTres {
    grid-area: priemerosTres;
    display: flex;
    margin: 10px 150px 0px 150px;
  }

  .serviciosTipos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    line-height: 1.5;
    width: 65%;

    &:hover {
      img {
        width: 85px;
        height: 85px;
        border-radius: 40px;
        transform: scale(1.2);
        transition: 0.4s;
      }

      transform: scale(1.2);
    }

    h3 {
      color: #050505;
      text-transform: uppercase;
      text-align: center;
      margin-top: 10px;
    }

    p {
      text-align: center;
      color: #6d6d6d;
    }
  }

  .segundosTres {
    grid-area: segundosTres;
    display: flex;
    margin: 10px 150px 0px 150px;
  }

  .terceroUno {
    grid-area: terceroUno;
    display: flex;
    margin-bottom: 87px;
    margin-left: 646px;
    width: 33%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .capacitacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    line-height: 1.5;
    text-align: center;

    h3 {
      text-transform: uppercase;
      margin-top: 10px;
      color: #050505;
      text-align: center;
    }

    p {
      padding: 0px 80px;
      color: #6d6d6d;
    }

    &:hover {
      img {
        width: 85px;
        height: 85px;
        border-radius: 40px;
        border-radius: 40px;
        transform: scale(1.2);
        transition: 0.4s;
      }

      transform: scale(1.2);
    }
  }

  @media (max-width: 480px) {
    .servicios {
      margin-top: 30px;
      font-size: 30px;
      text-transform: uppercase;
    }

    .copyServ {
      text-align: center;
      color: #414040;
      font-size: 20px;
      margin: 0px 44px 0px 44px;
    }

    .priemerosTres,
    .segundosTres {
      flex-direction: column;
      margin: 0px 30px 0px 0px;
    }

    .serviciosTipos {
      width: 86%;

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }
    }

    .terceroUno {
      margin: 0;
      width: 97%;
    }

    .capacitacion {
      width: 80%;

      h3 {
        font-size: 22px;
      }

      p {
        text-align: center;
        padding: 0px 25px;
        font-size: 18px;
      }
    }
  }
}