main {
  .servicios {
    margin-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }

  .copyServ {
    text-align: center;
    color: #414040;
    font-size: 20px;
    font-weight: 600;
  }

  .check1 {
    width: 90px;
    height: 90px;
  }

  .serviciosBox {
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .cardsServicios {
    background-color: #d8d5d5;
    border: none;
  }
  h5 {
    font-size: 22px;
    text-align: center;
  }

 

  @media (max-width: 480px) {
    .servicios {
      margin-top: 30px;
      font-size: 30px;
      text-transform: uppercase;
    }

    .copyServ {
      text-align: center;
      color: #414040;
      font-size: 20px;
      margin: 0px 44px 0px 44px;
    }

    h5 {
      font-size: 24px;
    }

    p {
      font-size: 20px;
    }
  }
}